/* styles/CenteredContainer.module.css */

.centered-page {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    height: 100vh;
}

.centered-container {
    padding: 20px;
    max-width: 1280px;
    width: 100%;
    box-sizing: border-box;
}

.imgscontainer {
    height: 100%;
    position: relative;
}


.listingImg {
    box-shadow: 0px 4px 22.799999237060547px 0px #00000040;
    width: 372px;
    height: 247.5px;
    top: 418px;
    left: 330px;
    border-radius: 12px;
    position: absolute;
    margin: 0;
    transition: all 0.3s;
}


.listingImg:nth-child(1) {
    top: 100px;
    left: 50px;
}

.listingImg:nth-child(2) {
    top: 318px;
    left: 300px;
    z-index: 100;
}

.listingImg:nth-child(3) {
    top: 200px;
    left: 640px;
    z-index: 1;
}

.listingImg:nth-child(4) {
    top: 80px;
    left: 750px;
    z-index: 0;
}

.listingImg:hover {
    transform: scale(1.5);
    z-index: 500;
}

.listingTitle {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 16px;
}

.listingMetadata {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 16px;

}

.metaDataDiv {
    border: 0.79px solid #D9D9D9;
    height: 150px;
    padding: 16px;
    border-radius: 9px;
    flex: 1;
}

.metaDataDiv:nth-of-type(2) {
    flex: 1.5;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.metaDataTitle {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}

.actionButton {
    background: #FF395C;
    border-radius: 5px;
    color: white;
    width: fit-content;
    height: 50px;
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
}

.metaDataIcons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    align-items: center;
}

.personHeader {
    display: flex;
    flex-direction: "row";
    align-items: center;
}

.personTitle {
    font-size: 20px;
    font-weight: 700;
}

.personDesc {
    font-size: 12px;
    font-weight: 400;

}