.outer {
    width: 296px;
    height: 406px;
}

.mainimage {
    max-width: 296px;
    max-height: 296px;
    border-radius: 25px;
    box-shadow: 0px 0px 8px 0px #00000040;
    margin-bottom: 8px;
}

.maintext {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 8px;
}

.subtext {
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 8px;
}

.text {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 8px;
}

.flexbox {
    flex: auto;

}