.container {
    display: flex;
    justify-content: flex-start;
    position: relative;
    align-items: center;
    height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
.button_container {
    display: flex;
    flex: 0 1 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
  
.button_container_seasons {
    flex: 0 1 auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.squiggle_left {
    position: absolute;
    left: 25%;
    transform: translateX(-50%);
}

.squiggle_right {
    position: absolute;
    left: 75%;
    transform: translateX(-50%);
}

.slider {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 33%;
}

.mini_house_icon {
    position: absolute;
    left: 39%;
    top: 50%;
    transform: translateY(-50%);
}

.mini_appliance_icon {
    position: absolute;
    left: 55%;
    top: 50%;
    transform: translateY(-50%);
}

.center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.autumn {
    position: absolute;
    z-index: 100;
    left: 88%;
}

.summer {
    position: absolute;
    z-index: 100;
    left: 91%;
}

.spring {
    position: absolute;
    z-index: 100;
    left: 94%;
}

.winter {
    position: absolute;
    z-index: 100;
    left: 97%;
}

.season_slider {
    position: absolute;
    left: 97%;
    transform: translateX(-22.5%);
}