:root {
  --background-start-color: 255, 255, 255;
  --background-end-color: 245, 245, 245;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
  color: #000000;
  background: linear-gradient(
    to bottom,
    rgb(var(--background-start-color)),
    rgb(var(--background-end-color))
  );
  font-family: sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
